*{
    box-sizing: border-box;
    margin: 0px;
    padding: 8px;
    background-color: #0a0a0a;
    color: #ededed;
    
}
.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    min-height: 100dvh
}


/*Navigation sidebar*/
#sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #000000bf;
    padding: 12px;
    display: block; 
    z-index: 1000;
}

  #anchor-list-sidebar-container {
    width: 100%;
     list-style-type: none;
    display: block;
    flex-direction: column;
    gap: 12px;
    
}
#anchor-list-sidebar-container .anchor-links {
    width: 100%;
}

#anchor-list-sidebar-container .link{
    display: block;
    width: 100%;
}




#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#anchor-list-container {
  display: flex;
  
}
.anchor-links {
    list-style-type: none;
    font-weight: bold;}
.link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.link:hover{
    opacity: 0.7;
}

.link::before{
    content: '';    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, #cd00a1, #29abcd);
    transition: width 0.3s ease-in;
}
.link:hover::before{
    width: 100%;
   
}


.footer{
    margin-bottom: 24px;
    text-align: center;
}