*{
    box-sizing: border-box;
    margin: 0px;
    padding: 8px;
    background-color: #0a0a0a;
    color: #ededed;
}
#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#list-container {
  display: flex;
}
.anchor-links {
    list-style-type: none;
    font-weight: bold;}
.link {
    cursor: pointer;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;

}

.product-image{
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.spanbox{
    font-weight: bold;
    font-size: 1.2rem;
}